<footer class="footer">
  <small>
    The Commentator Rater
    by <a href="https://www.linkedin.com/in/marty-newkirk-29061120/">Marty Newkirk</a>
    and <a href="https://www.linkedin.com/in/reecekinnane/">Reece Kinnane</a>
  </small>
</footer>
